<!DOCTYPE html>
<html>
  <head>
    <title>Pixtr</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <h1><a href="/">Pixtr</a></h1>
    <%= yield %>
    <!--   <img src="/images/placekitten_200_400.jpeg"> -->
  </body>
</html>
